{% extends 'base.html' %}
{% block stylesheet %}
<style type="text/css">
.main-data{
	margin-left: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}

{% block title %}
	Portal
{% endblock %}

{% block content %}

<a href="#" data-toggle="modal" class='excel-upload' data-target="#importXl">Update Exel sheets for latest transfer</a>
<h1 align="center">HP Voltage Service  Portal</h1>
 <div class="servive">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button">
          Total Service request
        </button>
      </h2>
    </div>
    <div class="card-body">
	        Total number of record: {{data}}
	</div>

    <div class="accordion main-data" id="accordionExample">
	  <div class="card">
	    <div class="card-header" id="headingOne">
	      <h2 class="mb-0">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Service Request by environment
	        </button>
	      </h2>
	    </div>

	    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
	      <div class="card-body">
	         <table>
            <tr>
              <th>ASOF</th>
              <th>ENVIRONMENT</th>
              <th>USERNAME</th>

              <th>VLTG IDENTITY</th>
              <th>CVPRODUCT</th>
              <th>CVAPI</th>

              <th>SCRIP</th>
              <th>TYPEOFAPI</th>
              <th>HOSTNAME</th>

              <th>CREATEDT</th>
            </tr>
          {% for data in query %}
            <tr>
              <td>{{data.asof}}</td>
              <td>{{data.environment}}</td>
              <td>{{data.username}}</td>
              <td>{{data.vltg_identity}}</td>
              <td>{{data.cvproduct}}</td>
              <td>{{data.cvapi}}</td>
              <td>{{data.srcip}}</td>
              <td>{{data.typeofapi}}</td>
              <td>{{data.hostname}}</td>
              <td>{{data.create_dt}}</td>
            </tr>
          {% endfor %}
          </table>
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingTwo">
	      <h2 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Service Request by user
	        </button>
	      </h2>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
	      <div class="card-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingThree">
	      <h2 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Service Request by user
	        </button>
	      </h2>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
	      <div class="card-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>


  </div>

</div>


<!-- Excel Model start here -->
<div class="modal fade" id="importXl" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Excel Sheet</h4>
      </div>
      <style type="text/css">
        .modal-body {
            padding-top: 0 !important;
        }
      </style>
      <div class="modal-body">
       <form class='excel-form1' enctype="multipart/form-data">
          {% csrf_token %}
          <input type='file' name='file' id='myfile'>
      </div>
      <div class="modal-footer"> 
        <button type="submit" class="btn btn-primary pull-right excel-form"/>Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
       </form>
    </div>

  </div>
</div>
<!-- Excel model end -->


{% endblock %}

{% block javascript %}

<script type="text/javascript">

// This ajax to upload Excel sheet
$(document).on('submit', ".excel-form1", function(e){
      e.preventDefault();
          $(this).ajaxSubmit({
              url: 'excel-upload/',
              type: 'POST',
              dataType: 'json',
              clearForm: false,
              resetForm: false,
              success: function(response){
               // close modal box
               if (response.status==200){
                  $('#importXl').modal('hide');
                  $('#myfile').val('');
                  // SweetAlert (swal) is a library to use and show alert messages.
                  swal("Success!", "File successfully uploaded", "success")
                }
              },
              error: function(result){
               $('#importXl').modal('hide');
               $('#myfile').val('');
               swal('Oops!', 'Upload failed, Check excel-sheet', 'error')
                 
              }
          });
})
</script>
{% endblock %}


