{% extends 'base.html' %}
{% block stylesheet %}
<style type="text/css">
.main-data{
	margin-left: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}

{% block title %}
	Portal
{% endblock %}

{% block content %}

<a href="#" data-toggle="modal" class='excel-upload' data-target="#importXl">Import ExcelSheet</a>
<h1 align="center">HP Voltage Service  Portal</h1>
 <div class="servive">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button">
          Total Service request : {{data}}
        </button>
      </h2>
    </div>
    <div class="card-body">
  	</div>

    <div class="accordion main-data" id="accordionExample">
	  <div class="card">
	    <div class="card-header" id="headingOne">
	      <h2 class="mb-0">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Service Request by environment
	        </button>
	      </h2>
	    </div>

	    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
	      <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                  <table>
                    <tr>
                      <th>Environment</th>
                      <th>Total Count</th>
                    </tr>
                  {% for data in environment %}
                    <tr>
                      <td onclick="env('{{data.environment}}')" data-id={{data.environment}}>{{data.environment}}</td>
                      <td>{{data.name_count}}</td>
                    </tr>
                  {% endfor %}
                  </table>
              </div>
              <div class="col-sm">
                  <table>
                    <thead>
                      <tr>
                        <th>USERNAME</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody id="byUserName">
        
                    </tbody>
                  </table>
              </div>
              <div class="col-sm">
                  <table>
                    <thead>
                      <tr>
                        <th>By Month</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody id="byMonthEnv">
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingTwo">
	      <h2 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Service Request by User Name
	        </button>
	      </h2>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
	      <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                  <table>
                    <tr>
                      <th>User Name</th>
                      <th>Total COUNT</th>
                    </tr>
                  {% for data in byuser %}
                    <tr>
                      <td onclick="userEnv('{{data.username}}')" data-id={{data.username}}>{{data.username}}</td>
                      <td>{{data.name_count}}</td>
                    </tr>
                  {% endfor %}
                  </table>
              </div>
              <div class="col-sm">
                  <table>
                    <thead>
                      <tr>
                        <th>Environment</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody id="userByEnv">
                  </tbody>
                  </table>
              </div>
              <div class="col-sm">
                  <table>
                    <thead>
                      <tr>
                        <th>By Month</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody id="userByEnvBymonth">
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
	      </div>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-header" id="headingThree">
	      <h2 class="mb-0">
	        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Service Request by Month
	        </button>
	      </h2>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
	     <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                  <table>
                    <tr>
                      <th>Month</th>
                      <th>Total Count</th>
                    </tr>
                  {% for data in byMonth %}
                    <tr>
                      <td onclick="envByMonth('{{data.create_dt__month}}')">
                        {{data.create_dt__month}}</td>
                      <td>{{data.name_count}}</td>
                    </tr>
                  {% endfor %}
                  </table>
              </div>
              <div class="col-sm">
                  <table>
                    <thead>
                      <tr>
                        <th>Environment</th>
                        <th>Total Count</th>
                      </tr>
                    </thead>
                    <tbody id="envBydate">
                  </tbody>
                  </table>
              </div>
              <div class="col-sm">
                  <table>
                    <thead>
                      <tr>
                        <th>UserName</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody id="userCountByEnvBymonth">
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
	    </div>
	  </div>
	</div>


  </div>

</div>


<!-- Excel Model start here -->
<div class="modal fade" id="importXl" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Excel Sheet</h4>
      </div>
      <style type="text/css">
        .modal-body {
            padding-top: 0 !important;
        }
      </style>
      <div class="modal-body">
       <form class='excel-form1' enctype="multipart/form-data">
          {% csrf_token %}
          <input type='file' name='file' id='myfile'>
      </div>
      <div class="modal-footer"> 
        <button type="submit" class="btn btn-primary pull-right excel-form"/>Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
       </form>
    </div>

  </div>
</div>
<!-- Excel model end -->


{% endblock %}

{% block javascript %}

<script type="text/javascript">

// This ajax to upload Excel sheet
$(document).on('submit', ".excel-form1", function(e){
      e.preventDefault();
          $(this).ajaxSubmit({
              url: 'excel-upload/',
              type: 'POST',
              dataType: 'json',
              clearForm: false,
              resetForm: false,
              success: function(response){
               // close modal box
               if (response.status==200){
                  $('#importXl').modal('hide');
                  $('#myfile').val('');
                  // SweetAlert (swal) is a library to use and show alert messages.
                  swal("Success!", "File successfully uploaded", "success")
                }
              },
              error: function(result){
               $('#importXl').modal('hide');
               $('#myfile').val('');
               swal('Oops!', 'Upload failed, Check excel-sheet', 'error')        
        }
    });
})

function env(env) {
  $.ajax({
    type: "GET",
    url: "env/",
    data: {"environment":env},
    success: function(data){
      if(data.status_code == "200"){
        $('#byUserName').text('')
        $('#byMonthEnv').text('')
        $(data.data).each(function( index ) {
          $('#byUserName').append(
              "<tr><td onclick=byMonth('"+this.username+"','"+data.env+"')\
              data-username="+this.username+" data-env="+data.env+">"+this.username+"</td>\
                    <td>"+this.name_count+"</td>\
               </tr>"
              )
          });
        }
      }
  });
}


function byMonth(username, env) {
  $.ajax({
    type: "GET",
    url: "env-by-month/",
    data: {"username":username, "environment":env,},
    success: function(data){
      if(data.status_code == "200"){
       $('#byMonthEnv').text('')
          $(data.data).each(function( index ) {
            $('#byMonthEnv').append(
                "<tr><td>"+this.create_dt__month+"</td>\
                      <td>"+this.name_count+"</td>\
                 </tr>"
                )
            });
        }
      }
  });
}


function userEnv(username) {
  $.ajax({
    type: "GET",
    url: "env-by-users/",
    data: {"username":username},
    success: function(data){
      if(data.status_code == "200"){
        $('#userByEnv').text('')
        $('#userByEnvBymonth').text('')
        $(data.data).each(function( index ) {
          $('#userByEnv').append(
              "<tr><td onclick=userEnvbyMonth('"+this.environment+"','"+data.username+"')\
                >"+this.environment+"</td>\
                    <td>"+this.name_count+"</td>\
               </tr>"
              )
          });
        }
    }
  });
}


function userEnvbyMonth(environment, username) {
  $.ajax({
    type: "GET",
    url: "env-by-month/",
    data: {"username":username, "environment":environment},
    success: function(data){
      if(data.status_code == "200"){
       $('#userByEnvBymonth').text('')
        $(data.data).each(function( index ) {
          $('#userByEnvBymonth').append(
              "<tr><td>"+this.create_dt__month+"</td>\
                    <td>"+this.name_count+"</td>\
               </tr>"
              )
          });
      }
    }
  });
}


function envByMonth(month) {
  $.ajax({
    type: "GET",
    url: "environments-by-month/",
    data: {"month":month},
    success: function(data){
      if(data.status_code == "200"){
       $('#envBydate').text('')
        $(data.data).each(function( index ) {
          $('#envBydate').append(
              "<tr onclick=userEnvbyMonthByEnv('"+this.environment+"','"+data.month+"')><td>"+this.environment+"</td>\
                    <td>"+this.name_count+"</td>\
               </tr>"
              )
          });
      }
    }
  });
}


function userEnvbyMonthByEnv(environment, month) {
  $.ajax({
    type: "GET",
    url: "user-by-environments-by-month/",
    data: {"month":month, 'environment':environment},
    success: function(data){
      if(data.status_code == "200"){
       $('#userCountByEnvBymonth').text('')
        $(data.data).each(function( index ) {
          $('#userCountByEnvBymonth').append(
              "<tr><td>"+this.username+"</td>\
                    <td>"+this.name_count+"</td>\
               </tr>"
              )
          });
      }
    }
  });
}

</script>
{% endblock %}


